{% extends 'main.html' %}
{% block title %}
Category List
{% endblock %}
{% block head %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="user-content">
                {% if login_session['username'] != null %}
                <span class="image"><img src="{{login_session['picture']}}"
                                         class="img-circle"></span><span
                    class="name">{{login_session['username']}}</span>
                <a href="{{url_for('gdisconnect')}}"><span class="session">logout</span></a>
                {% else %}
                <a href="{{url_for('showLogin')}}"><span
                        class="session">login</span></a>
                {% endif %}
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="main-image">
                <img src="https://www.itchotels.in/content/dam/projects/hotelswebsite/itc-hotels/luxury-collection/destination/chennai/itc-grand-chola/Website/headmast/19%20Madras%20Pavilion_new.jpg.transform/transform-width-1280/image.jpeg">
            </div>
            <div class="overlay">
                <h1></h1>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12"><a href="{{url_for('newCategory')}}">Add New</a>
        </div>
        {% for i in category_list %}
        <div class="col-md-4 col-sm-6">
            <div class="card-category">
                <a href="{{url_for('subCategory', cat_id = i.id)}}">{{ i.name
                    }}</a><br><br>
                {% if login_session['user_id'] == i.user_id %}
                <a href="{{url_for('deleteCategory', cat_id = i.id)}}">delete</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
