{% extends 'main.html' %}
{% block title %}
Category New
{% endblock %}
{% block head %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="user-content">
                {% if login_session['username'] != null %}
                <span class="image"><img src="{{login_session['picture']}}"
                                         class="img-circle"></span><span
                    class="name">{{login_session['username']}}</span>
                <a href="{{url_for('gdisconnect')}}"><span class="session">logout</span></a>
                {% else %}
                <a href="{{url_for('showLogin')}}"><span
                        class="session">login</span></a>
                {% endif %}
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="main-image">
                <img src="https://www.itchotels.in/content/dam/projects/hotelswebsite/itc-hotels/luxury-collection/destination/chennai/itc-grand-chola/Website/headmast/19%20Madras%20Pavilion_new.jpg.transform/transform-width-1280/image.jpeg">
            </div>
            <div class="overlay">
                <h1></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="{{url_for('editSubCategory', cat_id = cat_id, sub_id = sub_id)}}"
                  method='POST'>

                <h1>Edit menu {{items.name}}</h1>

                <input type='text' size="30" name='name' value="{{items.name}}"
                       required><br><br>
                <input type='text' size="30" name='course'
                       value="{{items.course}}"
                       required><br><br>
                <input type='text' size="30" name='description'
                       value="{{items.description}}" required><br><br>
                <input type='text' size="30" name='price'
                       value="{{items.price}}" required><br><br>
                <input type='submit' value='Edit'>
                <a href="{{url_for('subCategory', cat_id = cat_id)}}">Cancel</a>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
